.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #16385a;
  border-bottom: 1px solid #e5e7eb;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;     
  height: 100%;
}

/* Logo desktop */
.logo {
  padding: 15px 25px;
  width: 140px;
  max-height: 80px;
  object-fit: contain;
  display: block;
  margin: 0;
  background: linear-gradient(180deg, #e4e5e8, #fcfafa);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  align-items: center;
  padding: 10px;
  color:#fcfafa
}

.username-link {
  color:#fcfafa;
  padding: 15px;
  margin-right: 15px;
}

.nav-links:hover,
.username-link:hover {
  color:#fcfafa;
  background-color: #7a0000;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.4rem;
}

.logout-btn {
  background-color: #e4e5e8;
  color:#7a0000;
  height: 35px;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
}

.logout-btn:hover {
  background-color: #7a0000;
  color: #e4e5e8;
}

.language-link {
  padding: 10px;
  margin-left: 5px;
}

.desktop-only {
  display: flex;
  padding: 10px;
  align-items: center;
}

/* Burger button oculto en deskop */
.burger {
  display: none;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .header {
    padding-left: 0;
    padding-right: 0;
  }

  .nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    height: 100%;
  }

  .logo {
    width: 90px;
    max-height: 70px;
    padding: 15px 25px;
    margin: 0;
    margin-left: 0.5rem;
    justify-self: start;
    align-self: center;
    display: block;
  }

  .burger {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    align-self: stretch;
    margin-right: 1.5rem;
    font-size: 1.8rem;
    padding: 0;
    line-height: 1;
  }
}